<div class="p-4 d-flex justify-content-end">
  <button (click)="openDialogCreateUser()" mat-flat-button color="primary">
    <mat-icon>add</mat-icon> Novo usuário
  </button>

  <div class="container">
    <div class="row">
      <ng-container *ngFor="let time of times">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ time.nome }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">

              <div class="col-4" *ngFor="let usuario of time.integrantes">
                <mat-card class="mb-5">
                  <mat-card-header>
                  <mat-card-title>{{ usuario.nome | uppercase}}</mat-card-title>
                  <mat-card-subtitle>{{ usuario.cargo }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>Email : {{ usuario.email }}</p>
                  <p>Senha : {{ usuario.senha }}</p>
                  <p>Salário : {{ usuario.salario | currency : "BRL"}}</p>
                  <p>Tipo : {{ usuario.tipo }}</p>
                  <p>Time : {{ usuario.time }}</p>
                  <mat-divider></mat-divider>
                  
                </mat-card-content>
                <mat-card-actions>
                  <button (click)="openDialogDeleteUser(usuario)" mat-flat-button color="danger">Excluir</button>
                  <button (click)="openDialogEditUser(usuario)" mat-flat-button color="primary">Editar</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      
    </div>
  </div>
</div>
